form {
    margin: 20px auto;
    padding: 20px;
    border-style: inset;
	border-width: 5px;
    width: 500px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body{
    background-size: 100%;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="button"] {
    margin-top: 10px;
    padding: 5px;
    background-color: #f00a2c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}